mat-expansion-panel{
  background-color: green;
  width: 80%;
  margin: auto;
}

mat-accordion{
  display: block;
  margin-top: 1rem;
}

.emptyHint {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
